# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependencies
node_modules
pnpm-lock.yaml
package-lock.json
yarn.lock

# IDEs
.vscode
.idea
*.swp
*.swo
*~
.DS_Store

# Build
dist
build
out
.vite
.tauri-dev-server

# Tauri
src-tauri/target

# Environment
.env
.env.local
.env.*.local

# OS
Thumbs.db
desktop.ini
